.button {
  font-family: inherit;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  align-self: flex-start;
  background-color: purple;
  color: white;
  cursor: pointer;
}
