.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

.description {
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.price {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #ad5502;
}
