.card {
  width: 700px;
  background-color: white;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.5);
}
